<div class="container">
  <h2 class="heading">
    All Tasks <span class="task-info">( <span class="badge badge-primary">&#10003;</span> : completed tasks - <span
        class="badge badge-danger">&#x2715;</span> : not completed tasks )</span>
  </h2>
  <br>

  <ul class="list-group">
    <li *ngFor="let todo of allTasks" class="list-group-item">
      <span class="todo-title"><span class="badge badge-primary">{{todo.complete === true? '&#10003;':'&#x2715;'}}</span>
        {{todo.title}}</span>
    </li>
  </ul>
</div>
